@model OffshoreFundDebitOrderSystem.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
}

@Html.LabelFor(n => n.status.sMessage);

<h2>Index</h2>
<div class="container">
    <div class="row">
       
            <form action="" id="mainForm" class="form-horizontal row-border">
                <div class="form-group">
                    <label for="" class="control-label col-sm-2 col-sm-offset-2">Name</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.currencies.Name, new { required = "required", @class = "form-control", id = "txtName" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="ddlOffshore" class="control-label col-sm-2 col-sm-offset-2">Account</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.funds, Model.funds, new { @class = "form-control", id = "ddlOffshore", name = "txtName", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-horizontal">
                        <label for="txtAmount" class="control-label col-sm-2 col-sm-offset-2">Amount (ZAR)</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.currencies.ZARAmount, new { required = "required", @class = "form-control", id = "txtAmount" })
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" id="checkCurrency" class="form-control" value="Save">
                        </div>
                            <div class="form-group">
                                <label for="txtConvertedAmount" class="control-label col-sm-2">Amount</label>
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(m => m.currencies.ConvertedAmount, new { required = "required", @class = "form-control", id = "txtConvertedAmount", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                </div>
                
                <div class="form-group">
                    <label for="dateTransaction" class="control-label col-sm-2 col-sm-offset-2">Transaction Date</label>
                    <div class="input-group date col-sm-8" id="dateTransaction">
                        <span class="input-group-addon">
                            @Html.EditorFor(m => m.currencies.submitDate, new { @class = "form-control datecontrol", require = "required" });

                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-sm-2 col-sm-offset-2">
                        <input type="submit" id="writeToFile" class="form-control" value="Save">
                    </div>
                </div>
            </form>
       
        </div>
    </div>

@section scripts {
    <script type="text/javascript">
        
        $("#checkCurrency").click(function () {
            var form = $("form#mainForm");
            form.attr("action", "@Url.Action("Index", "Home")");
            form.submit();
        });

        $("#writeToFile").click(function () {
            var form = $("form#mainForm");
            form.attr("action", "@Url.Action("Save", "Home")");
            form.submit();
        });

        //$(function () {
        //    $('.datepicker').datetimepicker();
        //});

    </script>
}
    

