@model OffshoreFundDebitOrderSystem.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
}

@Html.LabelFor(n => n.status.sMessage);

<h2>Index</h2>
<div class="container">
    <div class="row">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <form action="" class="form-horizontal row-border">
                <div class="form-group">
                    <label for="" class="control-label col-sm-2 col-sm-offset-2">Name</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.currencies.Name, new { required = "required", @class = "form-control", id = "txtName" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="ddlOffshore" class="control-label col-sm-2 col-sm-offset-2">Account</label>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(m => m.funds, Model.funds, new { @class = "form-control", id = "ddlOffshore", name = "txtName", required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-horizontal">
                        <label for="txtAmount" class="control-label col-sm-2 col-sm-offset-2">Amount (ZAR)</label>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.currencies.ZARAmount, new { required = "required", @class = "form-control", id = "txtAmount" })
                        </div>

                        <div class="form-group">
                            <label for="txtConvertedAmount" class="control-label col-sm-2">Amount</label>
                            <div class="col-sm-2">
                                @Html.TextBoxFor(m => m.currencies.ConvertedAmount, new { required = "required", @class = "form-control", id = "txtConvertedAmount", disabled = "disabled" })
                             </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="dateTransaction" class="control-label col-sm-2 col-sm-offset-2">Transaction Date</label>
                    <div class="input-group date col-sm-8" id="dateTransaction">
                        <input name="dateTransaction" type="text" id="dateTransaction" class="form-control" value="@Model.currencies.OrderDate" required />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-sm-2 col-sm-offset-2">
                        <input id="dateTransaction" type="submit" value="Save" class="form-control" />
                        <input id="dateTransaction" type="submit" value="Save" class="form-control">
                    </div>
                </div>
            </form>
        }
        </div>
    </div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#dateTransaction').datetimepicker();
        });
    </script>
}
    

